six
requests
airtest
hrpc>=1.0.9
websocket-client==0.48.0
filelock>=3.20.3 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability